.wrapper {
  h2 {
    margin-bottom: 20px;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .newTask {
    }

    .descriptionTask {
    }

    .checkbox {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .button {
      width: 200px;
    }
  }
}
