.button {
  width: 100%;
  padding: 5px 15px;
  border: 1px solid teal;
  color: teal;
  background-color: #fff;

  &:hover {
    transition: all 0.3s;
    cursor: pointer;
    background-color: teal;
    color: #fff;
  }
}
